a {
    color: #ffffff;  
    text-decoration: none;
  }

ul li {
    display: inline-block;
  }

.view-mobile {
    display: block;
}

.view-desktop {
    display: none;
}

.title:hover, button:hover {
    cursor: pointer;
}

.bg-reverse {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
}


button {
    border-radius: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    background-color: rgb(228, 156, 198);
    border: none;
    padding: 10px 20px;
}

h3 {
    font-size: 3rem;
    padding: 20px 0px;
}

.artist {
    max-width: 100%;
    height: auto;
}
.hero-image {
    
    background-image: url('../assets/img/colors.gif');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.text-indent {
    text-align: justify;
}