body {
    font-family: 'Montserrat', sans-serif;
 }
 
a {
    color: #ffffff;  
    text-decoration: none;
  }

ul li {
    display: inline-block;
  }

.op {
    padding: 0px 15px;
    font-size: 1.1em;
}

.title:hover, button:hover {
    cursor: pointer;
}

.bg-reverse {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
}


button {
    border-radius: 3%;
    margin-top: 8%;
    margin-bottom: 8%;
    color: white;
    background-color: rgb(228, 156, 198);
    border: none;
    padding: 12px 20px;
    font-family: 'Montserrat', sans-serif;
}

.title{
    font-size: 5rem;
    padding: 25px 5px;
}
h3, .mac {
    font-size: 3rem;
    padding: 20px 0px;
}

.artist {
    max-width: 100%;
    height: auto;
}
.hero-image {
    
    background-image: url('../assets/img/colors.gif');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.text-indent {
    text-align: justify;
}


